.single-banner-item {
  background-color: #080e32;
  color: white;
  display: flex;

  padding: 95px 30px 0;
}

.banner-image .bannerImg {
  width: 100%;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.banner-content .sub-title {
  display: block;
  margin-bottom: 12px;
  color: var(--mainColor);
  text-transform: uppercase;
  font-size: 15.5px;
  font-weight: 700;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.banner-content h1 {
  margin-bottom: 20px;
  color: var(--whiteColor);
  font-size: 60px;
  font-weight: 800;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.banner-content p {
  max-width: 630px;
  color: #e1e1e1;
  font-size: var(--fontSize);
  margin-bottom: 15px;
  line-height: 1.8;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
.banner-content .btn-box {
  margin-top: 30px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s;
}
.btn-box .default-btn {
  text-align: center;
  padding: 10px 30px;
  background-color: var(--mainColor);
  border-radius: 5px;
  border: none;
  font-size: 17px;
  font-weight: 700;
  z-index: 1;
  color: var(--whiteColor);
  text-decoration: none;
  outline: 0 !important;
  cursor: pointer;
}
