.services-area {
  position: relative;
  z-index: 1;
}
.bg-f9f9f9 {
  background-color: #f9f9f9;
}
.pb-70 {
  padding-bottom: 70px;
}
.pt-100 {
  padding-top: 100px;
}
.section-title {
  max-width: 720px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
.section-title .sub-title {
  display: block;
  margin-bottom: 12px;
  color: var(--mainColor);
  text-transform: uppercase;
  font-size: 15.5px;
  font-weight: 700;
}
.section-title h2 {
  margin-bottom: 0;
  font-size: 42px;
}
.section-title p {
  max-width: 600px;
  font-size: 17px;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
}
p:last-child {
  margin-bottom: 0;
}
.what-we-do-content .skills-item {
  position: relative;
  margin-top: 25px;
}
.what-we-do-content .skills-item .skills-header {
  position: relative;
  margin-bottom: 12px;
}
.what-we-do-content .skills-item .skills-header .skills-title {
  margin-bottom: 0;
  font-size: 18px;
}
.what-we-do-content .skills-item .skills-header .skills-percentage {
  position: absolute;
  right: 0;
  top: -2px;
  color: var(--mainColor);
  font-size: 18px;
  font-weight: 600;
}
.what-we-do-content .skills-item .skills-bar {
  position: relative;
  width: 100%;
}
.custom-progress {
  display: flex;
  height: 4px;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}
.custom-progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: var(--mainColor);
  transition: width 0.6s ease;
}
